body {
    background-color: #CDCDCD;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* Nav */

/* Canvas Graph Styling */

.chartV-container {
    align-items: center;
}

.total_vac_label {
    background-color: #5175e0a8;
    border-radius: 1vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-style: bold;
    color: #fff;
    width: 40vw;
    margin: 2vw auto;
    padding: 2vw 0;
}

.chartC-container {
    align-items: center;
}

.main_graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.graph {
    margin: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tests {
    width: 80vw;
    position: relative;
}

.cases {
    width: 80vw;
    position: relative;
}

.vac {
    width: 80vw;
    position: relative;
}

#graph1 {}

/* used for pop-up */
.hide {
    display: none;
}

button {
    border-style: none;
    text-align: center;
    border-radius: 1vh;
    background-color: #5175e0a8;
    padding: 1vh;
    font-size: 4vh;
    color: #EEFBFB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Raleway', sans-serif;
}

/* Navigation Bar Styling */

nav {
    display: flex;
    justify-content: space-around;
    background-color: #5175e0a8;
}

#logo {
    color: #EEFBFB;
    padding: 0px 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    padding: 2vh;
}

.nav-links a {
    color: #EEFBFB;
    text-decoration: none;
    font-size: 3vh;
}

.burger {
    display: none;
}


/* burger open styling */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}


/* Canvas Styling */
#div1 {
    background-color: #CDCDCD;
}

.credit {
    bottom: 0px;
    margin-top: 25vh;
    text-align: center;
}

@media screen and (max-width:1000px) {
    #div1 {
        display: inline;
    }

    /* bug fix */
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        position: relative;
    }

    /* Nav stlying*/
    .nav-links li {
        opacity: 0;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 8vh;
        background-color: #5175e0a8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 50;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
        cursor: pointer;
        padding: 25px 0;
    }

    .burger div {
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: rgb(187, 187, 187);
        margin: 5px;
        transition: all 0.3s ease;
    }
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #dde2f1;
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #b3c6ff;
    border-radius: 100vw;
}